.echo MORPH_CANARY_BEGIN
lm m BEA
r @$t0=0; r @$t1=0; r @$t2=0; r @$t3=0
.if ({{FINGERPRINT_CONDITION}}) { {{ARM_INPUT_BREAKPOINT}}; .echo MORPH_CANARY_READY; g } .else { .echo MORPH_CANARY_CODE_MISMATCH; qd }
