.echo MORPH_CANARY_BEGIN
lm m BEA
r @$t0=0; r @$t1=0; r @$t2=0; r @$t3=0
.if ({{FINGERPRINT_CONDITION}}) { {{ARM_INPUT_BREAKPOINT}}; .echo MORPH_CANARY_READY; g; .echo MORPH_CANARY_LASTEVENT_BEGIN; .lastevent; .echo MORPH_CANARY_LASTEVENT_END; .echo MORPH_CANARY_CLEANUP_Q; q } .else { .echo MORPH_CANARY_CODE_MISMATCH; qd }
